@using Westwind.AspNetCore.Markdown
@model EventoWeb.Models.Event

@{
    ViewData["Title"] = "Details";
}
<div class="border p-3 mt-4">
       <h1 class="row pb-2">
            <h1 class="text-primary">@Model.Name</h1>
            <hr/>
        </h1>
    <dl class="row">
            <div class="p-2">
                @Markdown.ParseHtmlString(Model.Description)
            </div>
        <dt class = "col-sm-2">
            📍 @Html.DisplayNameFor(model => model.Venue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venue)
        </dd>
        <dt class = "col-sm-2">
           📝 @Html.DisplayNameFor(model => model.AdditionalNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalNote)
        </dd>
        <dt class = "col-sm-2">
           📅 @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
           📅 @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<div>
    @{

        if (@ViewBag.IsOwner == "true")
        {
            @Html.ActionLink("Edit", "Edit", new {  id = Model.EventId  });
        }
    }
    |
     @{

        if (@ViewBag.IsOwner == "true")
        {
            @Html.ActionLink("Delete", "Delete", new {  id = Model.EventId  });
        }
    }
     | <a asp-action="Index">Back to List</a>
</div>
